In [1]:
import numpy as np

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
%cd

C:\Users\Sai

In [3]:
loan=pd.read_csv(r'Desktop\notes\sowmiya\Python\Basic Statistics - Hypothesis Testing\LoansData.csv')

In [4]:
loan.describe()

,Amount.Requested,Amount.Funded.By.Investors,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months
count,2499.000000,2499.000000,2499.000000,2497.000000,2497.000000,2497.000000
mean,12405.462185,12002.374186,5688.931321,10.072887,15223.184622,0.906688
std,7802.933666,7746.767348,3963.118185,4.507416,18281.015258,1.231149
min,1000.000000,-0.010000,588.500000,2.000000,0.000000,0.000000
25%,6000.000000,6000.000000,3500.000000,7.000000,5584.000000,0.000000
50%,10000.000000,10000.000000,5000.000000,9.000000,10948.000000,0.000000
75%,17000.000000,16000.000000,6800.000000,13.000000,18861.000000,1.000000
max,35000.000000,35000.000000,102750.000000,38.000000,270800.000000,9.000000

In [5]:
# outliear treatment
loan.describe(percentiles=[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9])

,Amount.Requested,Amount.Funded.By.Investors,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months
count,2499.000000,2499.000000,2499.000000,2497.000000,2497.000000,2497.000000
mean,12405.462185,12002.374186,5688.931321,10.072887,15223.184622,0.906688
std,7802.933666,7746.767348,3963.118185,4.507416,18281.015258,1.231149
min,1000.000000,-0.010000,588.500000,2.000000,0.000000,0.000000
10%,4000.000000,3600.000000,2600.000000,5.000000,2298.800000,0.000000
20%,5440.000000,5000.000000,3250.000000,6.000000,4641.600000,0.000000
30%,7170.000000,6975.000000,3750.000000,7.000000,6560.800000,0.000000
40%,9000.000000,8799.232000,4333.330000,8.000000,8575.800000,0.000000
50%,10000.000000,10000.000000,5000.000000,9.000000,10948.000000,0.000000
60%,12000.000000,12000.000000,5441.484000,11.000000,13482.000000,1.000000
70%,15000.000000,15000.000000,6250.000000,12.000000,16651.600000,1.000000
80%,19200.000000,18050.796000,7500.000000,14.000000,21510.800000,2.000000
90%,24000.000000,23950.000000,9297.330000,16.000000,30047.000000,3.000000
max,35000.000000,35000.000000,102750.000000,38.000000,270800.000000,9.000000

In [6]:
# for i in loan.columns:
#     lower=np.percentile(i,0.1)
#     upper=np.percentile(i,0.9)
#     np.clip(i,lower,upper)

In [7]:
# np.quantile(loan['Amount.Requested'],0.01)

In [8]:
loan.isna().sum()

Amount.Requested                   1
Amount.Funded.By.Investors         1
Interest.Rate                      2
Loan.Length                        0
Loan.Purpose                       0
Debt.To.Income.Ratio               1
State                              0
Home.Ownership                     1
Monthly.Income                     1
FICO.Range                         2
Open.CREDIT.Lines                  3
Revolving.CREDIT.Balance           3
Inquiries.in.the.Last.6.Months     3
Employment.Length                 77
dtype: int64

In [9]:
loan.dtypes

Amount.Requested                  float64
Amount.Funded.By.Investors        float64
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

In [10]:
# loan['Employment.Length'].astype('float')
loan.sample()

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
1346,15000.0,8081.65,13.16%,36 months,debt_consolidation,13.16%,GA,MORTGAGE,2583.33,755-759,3.0,4923.0,2.0,9 years

In [11]:
loan.dtypes

Amount.Requested                  float64
Amount.Funded.By.Investors        float64
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                 float64
Revolving.CREDIT.Balance          float64
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
dtype: object

In [12]:
#change column name to proper value
loan.columns=[i.replace('.','_')for i in loan.columns]
#DATA TYPE CHANGE 
loan['Interest_Rate']=loan['Interest_Rate'].str.replace("%","").astype('float')
loan['Debt_To_Income_Ratio']=loan['Debt_To_Income_Ratio'].str.replace("%","").astype('float')

In [13]:
def missing_value(i):
    if ((i.dtype == 'float') or (i.dtype == 'int')):
        i=i.fillna(i.median())
    elif i.dtype =='object':
        i=i.fillna(i.mode()[0])
    else:
        i
    return i

In [14]:
loan=loan.apply(missing_value)

In [15]:
loan.describe(percentiles=np.arange(0.01,0.1,0.01))
# loan.sample(1)

,Amount_Requested,Amount_Funded_By_Investors,Interest_Rate,Debt_To_Income_Ratio,Monthly_Income,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months
count,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000
mean,12404.500000,12001.573236,13.065424,15.380396,5688.655748,10.071600,15218.054400,0.905600
std,7801.520636,7745.320754,4.175530,7.503551,3962.349122,4.504863,18270.638709,1.230811
min,1000.000000,-0.010000,5.420000,0.000000,588.500000,2.000000,0.000000,0.000000
1%,1500.000000,999.172800,5.988000,0.719000,1416.536600,3.000000,0.000000,0.000000
2%,1900.000000,1400.000000,6.030000,1.589800,1666.670000,3.000000,66.560000,0.000000
3%,2000.000000,1800.000000,6.030000,2.179100,1833.330000,3.000000,348.910000,0.000000
4%,2500.000000,2000.000000,6.540000,2.766400,2000.000000,4.000000,679.800000,0.000000
5%,2871.250000,2200.000000,6.620000,3.158000,2166.336500,4.000000,920.550000,0.000000
6%,3000.000000,2500.000000,6.620000,3.580000,2331.450200,4.000000,1251.940000,0.000000
7.0%,3200.000000,3000.000000,6.990000,4.000000,2478.134000,4.000000,1530.440000,0.000000
8%,3600.000000,3000.000000,7.427600,4.466800,2500.000000,5.000000,1750.920000,0.000000
9%,3800.000000,3500.000000,7.510000,4.859100,2500.000000,5.000000,2059.100000,0.000000
50%,10000.000000,10000.000000,13.110000,15.320000,5000.000000,9.000000,10948.000000,0.000000
max,35000.000000,35000.000000,24.890000,34.910000,102750.000000,38.000000,270800.000000,9.000000

In [16]:
for i in loan.select_dtypes(np.number):
    lower=np.quantile(loan[i],0.01)
    upper=np.quantile(loan[i],0.09)
    loan[i]=np.clip(loan[i],lower,upper)

BACKGROUND: The Lending Club is a peer-to-peer lending site where members make loans to 
each other. The site makes anonymized data on loans and borrowers publicly available. 
BUSINESS PROBLEM:
Using lending club loans data, the team would like to test below hypothesis on how different 
factors effecing each other (Hint: You may leverage hypothesis testing using statistical tests)

# a. Intrest rate is varied for different loan amounts (Less intrest charged for high loan amounts)

In [17]:
loan.Amount_Funded_By_Investors.value_counts()

3500.0000    2278
3000.0000      32
999.1728       25
2000.0000      23
2500.0000      16
             ...
2925.0000       1
1875.0000       1
2450.0000       1
2025.0100       1
3150.0000       1
Name: Amount_Funded_By_Investors, Length: 65, dtype: int64

In [18]:
#checking if there is any correlation btw loan amt and interest rate using pearson correlation
import scipy.stats as stats

Ho=there is relationship between loan amt and interest rate
H1 = there is no relationship b/t loan amt and interest rate

In [19]:
stats.pearsonr(loan['Amount_Funded_By_Investors'],loan['Interest_Rate'])

PearsonRResult(statistic=-0.016960242730945322, pvalue=0.39663347875201044)

#p value is gretaer then significance value 0.05 , we accept null hypothesis 
there is a negative relationship btw interest rate and loan amt

# b. Loan length is directly effecting intrest rate

H0: interest rate is same for all lon length
H1:interest rate is diff for all lon length

In [20]:
# stats.pearsonr(loan['Loan_Length'].str.replace('months','').astype('float'),loan['Interest_Rate'])
mon_36=loan[loan.Loan_Length=="36 months"]
mon_60=loan[loan.Loan_Length=="60 months"]
stats.ttest_ind(mon_36.Interest_Rate,mon_60.Interest_Rate)

Ttest_indResult(statistic=-6.35734909883276, pvalue=2.432225885473047e-10)

since p value is less then significate value , we accept alternative hypothesis
the loan length is effecting interest rate

# c. Inrest rate varies for different purpose of loan

# since this is interest rate numerical and loan purpose is categorical and we have various category , we use anova test
Ho:Interest rate is same for all loan type
H1:Interest Rate is different for all loan type

In [22]:
a=loan[loan.Loan_Purpose=="debt_consolidation"]
b=loan[loan.Loan_Purpose=="credit_card"]
c=loan[loan.Loan_Purpose=="other"]
d=loan[loan.Loan_Purpose=="moving"]
e=loan[loan.Loan_Purpose=="car"]
f=loan[loan.Loan_Purpose=="vacation"]
g=loan[loan.Loan_Purpose=="home_improvement"]
h=loan[loan.Loan_Purpose=="house"]
i=loan[loan.Loan_Purpose=="major_purchase"]
j=loan[loan.Loan_Purpose=="educational"]
k=loan[loan.Loan_Purpose=="medical"]
l=loan[loan.Loan_Purpose=="small_business"]
m=loan[loan.Loan_Purpose=="renewable_energy"]
n=loan[loan.Loan_Purpose=="wedding"]

In [23]:
stats.f_oneway(a.Interest_Rate,b.Interest_Rate,c.Interest_Rate,d.Interest_Rate,e.Interest_Rate,
               f.Interest_Rate,g.Interest_Rate,h.Interest_Rate,i.Interest_Rate,j.Interest_Rate,
               k.Interest_Rate,l.Interest_Rate,m.Interest_Rate,n.Interest_Rate)

F_onewayResult(statistic=4.725893264565126, pvalue=3.740674223782928e-08)

#since p value is less then test statistic , reject null hypothesis 
there is difference in interest rate for diff loan purpose

# d.There is relationship between FICO scores and Home Ownership. It means that, People with owning home will have high FICO scores.

In [24]:
loan['FICO_Range']=(loan['FICO_Range'].str.split('-',expand=True).astype("float")[0]+loan['FICO_Range'].str.split('-',expand=True).astype("float")[1])/2

#fico -NUMERICAL , hOME OWERSHIP -categorical , ANOVA TEST
Ho:there is relationship btw FICO and home type
H1:there is no relationship btw FICO and home type

In [25]:
loan['Home_Ownership'].value_counts()

MORTGAGE    1148
RENT        1146
OWN          200
OTHER          5
NONE           1
Name: Home_Ownership, dtype: int64

In [26]:
a=loan[loan.Home_Ownership=="MORTGAGE"]
b=loan[loan.Home_Ownership=="RENT"]
c=loan[loan.Home_Ownership=="OWN"]
d=loan[loan.Home_Ownership=="OTHER"]
e=loan[loan.Home_Ownership=="NONE"]

stats.f_oneway(a.FICO_Range,b.FICO_Range,c.FICO_Range,d.FICO_Range,e.FICO_Range)

F_onewayResult(statistic=19.330308155159962, pvalue=1.1227031714003807e-15)

##we reject the null hypothesis,yes there is effect in FICO scores because of Ownership

BACKGROUND: When an order is placed by a customer of a small manufacturing company, a 
price quote must be developed for that order. Because each order is unique, quotes must be 
established on an order-by-order basis by a pricing expert. The price quote process is laborintensive, as prices depend on many factors such as the part number, customer, geographic 
location, market, and order volume. The sales department manager is concerned that the pricing 
process is too complex, and that there might be too much variability in the quoted prices. An 
improvement team is tasked with studying and improving the pricing process.
After interviewing experts to develop a better understanding of the current process, the team 
designed a study to determine if there is variability between pricing experts. That is, do different 
pricing experts provide different price quotes? Two randomly selected pricing experts, Mary and 
Barry, were asked to independently provide prices for twelve randomly selected orders. Each 
expert provided one price for each of the twelve orders.

# BUSINESS PROBLEM: We would like to assess if there is any difference in the average price quotes provided by Mary and Barry.

In [ ]:
df=pd.read_csv(r'Desktop\notes\sowmiya\Python\Basic Statistics - Hypothesis Testing\Price_Quotes.csv')

# doubt since for same order mary and barry are giving price , sample sample is used so paried t test 
Ho:There is no difference in price auoted by Mary and Barry
H1:There is difference in price auoted by Mary and Barry

In [ ]:
stats.ttest_ind(df.Mary_Price,df.Barry_Price)

# p value > singnificae value , Ho accepted , There is no difference in price auoted by Mary and Barry

BACKGROUND: The New Life Residential Treatment Facility is a NGO that treatsteenagers who
have shown signs of mental illness. It provides housing and supervision of teenagers who are
making the transition from psychiatric hospitals back into the community. Because many of
the teenagers were severely abused as children and have been involved with the juvenile
justice system, behavioral problems are common at New Life. Employee pay is low and staff
turnover (attrition) is high.
A reengineering program wasinstituted at New Life with the goals of lowering behavioral
problems of the kids and decreasing employee turnover rates. As a part of this effort, the
following changes were made:
 Employee shifts were shortened from 10 hours to 8 hours each day.
 Employees were motivated to become more involved in patient treatments. This
included encouraging staff to run varioustherapeutic treatment sessions and allowing
staff to have more say in program changes.
 The activities budget wasincreased.
 A facility-wide performance evaluation system was putinto place that rewarded staff
participation andinnovation.
 Management and staff instituted a program designed to raise expectations about
appropriate behavior from the kids. Thisincluded strict compliance with reporting of
behavioral violations, insistence on participation in therapeutic sessions, and a
lowered tolerance for even moderate behavioralinfractions.
To determine the effectiveness of the reengineering effort, a data set comprised of pre- and
post-reengineering periods was compiled. The information contains two measures of
behavioral problems. A critical incident occurs when a resident goes AWOL (leavesthe
premises without permission), destroys property (e.g., punching a hole in a wall or throwing
furniture through windows), is caught in possession of street drugs, or engages in assault
against other residents or staff members. A teenager istemporarily removed from the facility
when s/he is sent to jail or back to a psychiatric hospital

# BUSINESS PROBLEM: 
Determine what effect, if any, the reengineering effort had on the 
incidence behavioral problems and staff turnover. i.e To determine if the reengineering effort
changed the critical incidence rate. Isthere evidence that the critical incidence rate
improved?

In [50]:
data=pd.read_csv(r'Desktop\notes\sowmiya\Python\Basic Statistics - Hypothesis Testing\Treatment_Facility.csv')

In [57]:
post

    Month Reengineer  Employee_Turnover       VAR4       VAR5
13     14       Post            26.6667   9.708738  29.126214
14     15       Post            17.9487   4.201681  21.008403
15     16       Post            12.8205  13.043478  34.782609
16     17       Post            15.7895   9.950249  19.900498
17     18       Post             0.0000   9.950249   9.950249
18     19       Post            30.7692   8.510638  25.531915
19     20       Post            26.8293   9.259259  23.148148

In [52]:
prior=data[data['Reengineer']=='Prior']

In [54]:
post=data[data['Reengineer']=='Post']

In [ ]:
Ho: there is no effect on employee trunover
H1:there is  effect on employee trunover

In [55]:
stats.ttest_ind(prior.Employee_Turnover,post.Employee_Turnover)

Ttest_indResult(statistic=-1.770306704753604, pvalue=0.09361109345535304)

we reject null hypothesis , there is effect on employee turnover

In [ ]:
stats.ttest_ind(prior.VAR5,post.VAR5)

we accept  the null hypothesis,we can't say that their is change in critical incidence

BUSINESS PROBLEM-4
BACKGROUND: Software development projectstypically follow six basic phases: Requirements,
design, implementation (and integration), testing (validation), deployment (installation) and
maintenance. First, general requirements are gathered, and the scope of the functionality is
defined. Then, alternative scenarios for the required functionality are developed and
evaluated. Implementation, usually 50% or more of the development time, is the phase in
which the design istranslated into programs and integrated with other parts of the software –
this is when software engineers actually develop the code. During the final phases, programs
are tested, software is put into use, and faults or performance issues are addressed.
ApDudes, a developer of applicationsfor tablet computers, was having difficulty meeting
project deadlines; only 10% of their projects had been completed within budget and on time
last year and that wasstarting to hurt business. The group’s project manager wastasked with
studying problems within the implementation phase. He found thatsoftware engineers were
having difficulty prioritizing their work, and that they often became overwhelmed by the
magnitude of the projects.
As a result, two changes were made. Each project was broken down into smaller, distinct
tasks, or jobs, and each job was assigned a priority. The project manager believes that this
classification and prioritization system would speed the completion of high priority jobs, and
thuslower overall project completion time

# BUSINESS PROBLEM: 
We will focus on the prioritization system. If the system is working, then
high priority jobs, on average, should be completed more quickly than medium priority jobs,
and medium priority jobs should be completed more quickly than low priority jobs. Use the
data provided to determine whether thisis, in fact, occurring

In [ ]:
priority = pd.read_csv(r'Desktop\notes\sowmiya\Python\Basic Statistics - Hypothesis Testing\Priority_Assessment.csv')

In [ ]:
high=priority[priority['Priority']=='High']
medium=priority[priority['Priority']=='Medium']
low=priority[priority['Priority']=='Low']

ho:priority is same
h1:priority is not same

In [ ]:
stats.f_oneway(high.Days,medium.Days,low.Days)

In [ ]:
p value is greater then significance value , so priority is same

# BUSINESS PROBLEM: 
    Use the survey resultsto addressthe following questions
 What isthe overall level of customer satisfaction?
 What factors are linked to satisfaction?
 What is the demographic profile of Film on the Rocks patrons?
 In what media outlet(s) should the film series be advertised?

What isthe overall level of customer satisfaction?

In [27]:
cus=pd.read_csv(r'Desktop\notes\sowmiya\Python\Basic Statistics - Hypothesis Testing\Films.csv')

In [28]:
cus.Marital_Status.value_counts()

2          208
1           88
Single      18
Married     12
Slngle       2
Name: Marital_Status, dtype: int64

In [29]:
cus.Gender.value_counts()

2         194
1         104
Female     19
Male       13
Name: Gender, dtype: int64

In [30]:
cus['Gender']=np.where(cus.Gender == '1','Male','Female')
cus['Marital_Status']=np.where(cus.Marital_Status == '1','Married','Single')

In [ ]:
cus.apply(missing_value)

What isthe overall level of customer satisfaction?

ho:overall level of customer satisfaction is 5
h1: not 5

In [44]:
stats.ttest_1samp(cus.Overall,5)

Ttest_1sampResult(statistic=nan, pvalue=nan)

What factors are linked to satisfaction?

In [48]:
#we can check correlation , so we can identify we can identify the factor to satisfcation
cus.corr()
#we can see singale , parking ,clean as positive correlation with overall 
#we can say those are the factor for satisfaction

,_rowstate_,Sinage,Parking,Clean,Overall,Age,Income
_rowstate_,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sinage,NaN,1.000000,0.470322,0.349163,0.382881,-0.091512,-0.036721
Parking,NaN,0.470322,1.000000,0.444368,0.516585,-0.023607,-0.022084
Clean,NaN,0.349163,0.444368,1.000000,0.349412,-0.005052,0.019851
Overall,NaN,0.382881,0.516585,0.349412,1.000000,-0.034171,-0.004050
Age,NaN,-0.091512,-0.023607,-0.005052,-0.034171,1.000000,0.144772
Income,NaN,-0.036721,-0.022084,0.019851,-0.004050,0.144772,1.000000

In what media outlet(s) should the film series be advertised?

In [34]:
pd.crosstab(cus.Movie,cus.Hear_About)

Hear_About                1  1,5  2  2,5  3  3,4  3,5   4  4,5    5  5,4
Movie
Ferris Buellers Day Off  13    1  4    1  4    0    0  17    1   94    0
Old School                1    0  4    0  1    1    0   1    0   24    0
Willy Wonka               8    0  4    1  9    1    1  23    0  108    1

What is the demographic profile of Film on the Rocks patrons?

In [35]:
pd.crosstab(cus.Movie,cus.Gender)

Gender                   Female  Male
Movie
Ferris Buellers Day Off      99    38
Old School                   19    13
Willy Wonka                 108    53

In [36]:
pd.crosstab(cus.Movie,cus.Clean)

Clean                    1.0  2.0  3.0  4.0  5.0
Movie
Ferris Buellers Day Off   61   62   12    2    0
Old School                12   16    3    0    1
Willy Wonka               71   74    9    3    1

In [39]:
pd.crosstab(cus.Movie,cus.Sinage)

Sinage                   1.0  2.0  3.0  4.0  5.0
Movie
Ferris Buellers Day Off   53   64   19    0    1
Old School                12   13    4    2    1
Willy Wonka               48   79   25    4    3

In [40]:
pd.crosstab(cus.Movie,cus.Overall)

Overall                  1.0  2.0  3.0  4.0  5.0
Movie
Ferris Buellers Day Off   59   71    4    1    2
Old School                21   10    0    0    1
Willy Wonka               71   79    8    0    1

In [46]:
pd.crosstab(cus.Movie,cus.Parking)

Parking                  1.0  2.0  3.0  4.0  5.0
Movie
Ferris Buellers Day Off   54   66   11    5    1
Old School                17   11    3    0    1
Willy Wonka               64   76   15    2    2